.ant-layout-sider {
    background: #151515;
}

.ant-menu.ant-menu-dark{
    background: #151515;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: #822929;
}

.ant-layout-sider-trigger{
    background-color: #822929;
}